[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
psycopg2-binary = "*"
flask-restx = "*"
flask-httpauth = "*"
python-dotenv = "*"
flask-migrate = "*"
flask-cors = "*"
httpx = "*"
folium = "*"

[dev-packages]
pre-commit = "*"
black = "*"
flake8 = "*"
isort = "*"

[requires]
python_version = "3.10"
